<h1>Subjects#index</h1>
<p>Find me in app/views/subjects/index.html.erb</p>

<h2>This is my main page to start everything</h2>
<br />
<p>Here..you can;-</p>
<ol>
	<li>Buy books.</li>
	<li>Add to cart.</li>
	<li>Return back fo price.</li>
	<li>Do whatever you want</li>

</ol>
<table border="2px solid black">
	<th colspan= "3">The Ultimate Table</th>
	<tbody>
		<tr style="font-size: 20px">
			<td>book</td><td>Author</td><td>price</td>
		</tr>
		<tr>
			<td>inferno</td><td>Dan brown</td><td>$9</td>
		</tr>
		<tr>
			<td>love</td><td>Crazylili</td><td>$10</td>
		</tr>
		<tr>
			<td>Daddy</td><td>tatgirhl</td><td>$0.01</td>
		</tr>
	</tbody>

</table>
